<?xml version='1.0' encoding='utf-8'?>
<odoo>
  <data>

    <menuitem id='menu_univ_root'
              name='University CRM'
              groups='university_crm.group_university_employee'
              sequence='10'/>

    <menuitem id='menu_univ_catalog'
              name='Catalog'
              parent='menu_univ_root'
              groups='university_crm.group_university_employee'
              sequence='10'/>

    <menuitem id='menu_univ_students'
              name='Students'
              parent='menu_univ_catalog'
              action='university_crm.action_student_lead'
              groups='university_crm.group_university_employee'
              sequence='10'/>

    <menuitem id='menu_univ_archive_manager'
              name='Archived Students'
              parent='menu_univ_catalog'
              action='university_crm.action_student_archive'
              groups='base.group_no_one'
              sequence='20'/>

    <menuitem id='menu_univ_archive_employee'
              name='Archived Students'
              parent='menu_univ_catalog'
              action='university_crm.action_student_archive'
              groups='university_crm.group_university_employee'
              sequence='20'/>

  </data>
</odoo>
